name: pull-request-pipeline

on:
  pull_request:
    branches: [ "dev*", "main", "*release", "feature*" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Debug

jobs:
  # protect the workflows dir, only allow specific users to modify
  protect-workflows-dir:
    runs-on: ubuntu-latest
    outputs:
      allowed: ${{ steps.check.outputs.allowed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - id: check
        run: |
          git fetch origin ${{ github.base_ref }}

          CHANGED_FILES=$(git diff --name-only origin/${{ github.base_ref }}...HEAD)

          if ! echo "$CHANGED_FILES" | grep -q '^\.github/workflows/'; then
            echo "No .github/workflows changes, allow."
            echo "allowed=true" >> $GITHUB_OUTPUT
            exit 0
          fi

          echo ".github changes detected"

          ALLOWED_USERS=("dante159753" "bob" "ci-bot")
          ACTOR="${{ github.actor }}"

          for u in "${ALLOWED_USERS[@]}"; do
            if [[ "$ACTOR" == "$u" ]]; then
              echo "Authorized user"
              echo "allowed=true" >> $GITHUB_OUTPUT
              exit 0
            fi
          done

          echo "Unauthorized .github modification"
          echo "allowed=false" >> $GITHUB_OUTPUT
          exit 1

  cpp-linter:
    runs-on: ubuntu-latest
    needs: protect-workflows-dir
    if: needs.protect-workflows-dir.outputs.allowed == 'true'
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          persist-credentials: false
      - uses: cpp-linter/cpp-linter-action@main
        id: linter
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          style: file
          tidy-checks: '-*'
          files-changed-only: true
          lines-changed-only: diff
          format-review: true
          version: 20

      - name: Fail fast?!
        if: steps.linter.outputs.checks-failed != 0
        run: |
          echo "some linter checks failed. ${{ steps.linter.outputs.checks-failed }}"
          exit 1
  py-linter:
    runs-on: ubuntu-latest
    needs: protect-workflows-dir
    if: needs.protect-workflows-dir.outputs.allowed == 'true'
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Add matchers for better error display
      run: |
        echo "::add-matcher::.github/workflows/matchers/actionlint.json"
        echo "::add-matcher::.github/workflows/matchers/mypy.json"

    - name: Run pre-commit checks on all files
      uses: pre-commit/action@v3.0.1
      env:
        SHELLCHECK_OPTS: "--exclude=SC2046,SC2006,SC2086" # Exclude SC2046, SC2006, SC2086 for actionlint
      with:
        extra_args: --all-files --hook-stage manual

  cpp_gtest:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest
    needs: cpp-linter

    steps:
    - uses: actions/checkout@v4

    - name: Install googletest
      run: |
        git clone https://github.com/google/googletest.git --depth=1 --branch=v1.17.0
        cd googletest
        mkdir build && cd build
        cmake -DCMAKE_CXX_FLAGS="-fPIC" -DCMAKE_C_FLAGS="-fPIC" -DCMAKE_CXX_STANDARD=17 -DCMAKE_CXX_STANDARD_REQUIRED=True ..
        sudo make install -j

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBUILD_UCM_SPARSE=OFF -DBUILD_UNIT_TESTS=ON -DRUNTIME_ENVIRONMENT=simu

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} -j

    - name: Test
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C ${{env.BUILD_TYPE}} --output-on-failure

  test-e2e-pc-gpu:
    runs-on: gpu
    needs: [cpp_gtest, py-linter]
    permissions:
      checks: write
      pull-requests: write
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: |
        cd ${{github.workspace}}
        export PLATFORM=cuda
        pip install -v -e . --no-build-isolation
    - name: Test E2E
      run: |
        cd ${{github.workspace}}
        cd test
        pytest --stage=1 --feature=offline_inference --junitxml=offline-inference.xml
    - name: Upload pytest results
      uses: EnricoMi/publish-unit-test-result-action/linux@v2
      if: (!cancelled())
      with:
        files: |
          ${{github.workspace}}/test/offline-inference.xml
        check_name: Prefix cache test results

  test-e2e-sparse-gpu:
    runs-on: gpu
    needs: [cpp_gtest, py-linter]
    permissions:
      checks: write
      pull-requests: write
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: |
        cd ${{github.workspace}}
        export PLATFORM=cuda
        export ENABLE_SPARSE=TRUE
        pip install -v -e . --no-build-isolation
    - name: Test E2E
      run: |
        cd ${{github.workspace}}
        cd test
        pytest --stage=1 --feature=offline_inference_sparse --junitxml=offline-inference-sparse.xml
    - name: Upload pytest results
      uses: EnricoMi/publish-unit-test-result-action/linux@v2
      if: (!cancelled())
      with:
        files: |
          ${{github.workspace}}/test/offline-inference-sparse.xml
        check_name: Sparse attention test results

