name: 'ucm-lint-and-unittest'

on:
  push:
    branches:
      - 'main'
      - 'dev*'
      - '*release'
  pull_request:
    branches:
      - 'main'
      - 'dev*'
      - '*release'

jobs:
  # gpu-test:
  #   uses: ./.github/workflows/e2e_test.yml

  call-lint:
    uses: ./.github/workflows/pre-commit.yml
